.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #start-btn {
    margin-bottom: 0.5rem;
  }

  main {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 0px;

    app-square {
      border: 1px solid gray;
      height: 120px;
    }
  }
}

@media only screen and (max-width: 320px) {
  h1,
  h2 {
    font-size: 1.5rem;
  }

  main {
    grid-template-columns: 100px 100px 100px !important;

    app-square {
      height: 100px !important;
    }
  }
}
